.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #E5E100; /* color del spinner */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  