//fonts
$font-lato: 'lato', Helvetica, Arial;
$font-roboto: 'roboto', Helvetica, Arial;

// font weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;

//colors
$gray1: #494F66;
$gray2: #676F8F;
$gray3: #A9B1D1;
$gray4: #EDEFF5;
$gray5: #FAFAFC;
$gray6: #D4D5E8;
$gray7: #C1C6DB;
$gray8: #6E7799;
$lila1: #6F7DFF;
$lila2: #939DFF;
$red: #EF3340;
$red2: #FC4E55;
$pink: #FF888D;
$pink2: #F55D68;
$pink3: #FFD7DA;
$pink4: #FEE7E9;

$green: #2FAD6F;
$green2: #2FAD6F;
$green3: #2FAD6F;
$green4: #2FAD6F;
$orange: #FFAF3A;
$orange2: #FFEFD8;
$orange3: #FFA733;
