@import 'variables';
@import 'utils';
@import 'responsive';

html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::before,
*::after {
  box-sizing: border-box;
}

button * {
  pointer-events: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px white inset !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-lato;
  font-weight: $font-regular;
}

.wrap {
  max-width: 1240px;
  margin: 0 auto;
}

.content {
  padding: 0 width-column(2, 26);
  @include clearfix;
  @include tablet { padding: 0 width-column(1, 31); }
}

.hideblock {
  overflow: hidden;
  height: 0;
  z-index: -1;
}

.layout-left {
  width: 100%;
  float: left;
  @include tablet {
    width: width-column(14, 29);
    margin-left: width-column(2, 29);
  }
  @include tablet-large {
    //width: width-column(12, 29);
    margin-left: width-column(3, 29);
  }
  @include desktop {
    width: width-column(12, 29);
    //margin-left: width-column(3, 29);
  }
}

.layout-right {
  float: right;
  display: none;
  @include tablet {
    width: width-column(12, 29);
    display: block;
    position: sticky;
    top: 56px;

  }

  @include desktop {
    top: 64px;
  }

}

.form__description {
  font-family: $font-roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $gray1;
  margin: 0;
  padding-bottom: 28px;
  @include tablet {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 43px;
  }
}

.loader {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: url('./assets/images/loading-red.svg') no-repeat 0 0;
  background-size: 100% auto;
  animation-name: rotater;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotater {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
