@import '../assets/styles/helpers/_variables.scss';
@import '../assets/styles/helpers/_responsive.scss';

.select {
  margin-bottom: 0 !important;

  &__label {
    font-family: "roboto", Helvetica, Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFF;
    padding-bottom: 3px;
    text-align: left;
    @include tablet {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__control {
    position: relative;

    select {
      border: 1px solid #919BA1;
      border-radius: 4px;
      background-color: white;
      appearance: none;
      color: #494F66;
      font-family: $font-lato;
      font-weight: $font-regular;
      font-size: 16px;
      padding: 0 34px 0 16px;
      width: 100%;
      height: 45px;
      box-sizing: border-box;
      background-clip: padding-box;
      position: relative;
 
      &::-ms-expand {
        display: none;
      }

      &:hover {
        border-color: #2FAD6F;
        z-index: 2;
        transition: border-color 0.35s;
      }

      &:disabled {
        background-color: $gray4;
        color: $gray3;
        opacity: 0.5;
        pointer-events: none;
        border: none;
      }

      &:focus {
        outline: none;
        border-color: #2FAD6F;
        z-index: 2;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 16px;
      height: 8px;
      width: 8px;
      border-bottom: 1px #2FAD6F solid;
      border-right: 1px #2FAD6F solid;
      transform: translateY(-50%) rotate(45deg);
      //z-index: 2;
      pointer-events: none;
    }
  }

  &.is-selected {
    select {
      color: $gray1;
    }
  }

  
  &.is-disabled {
    .select__control::after { border-color: $gray6; }
  }

  &.error {
    position: relative;

    .select__control {
      margin-bottom: 0;

      select {
        border: 1px solid $pink;
        margin-bottom: 0;
        z-index: 2;

        &:hover { border: 1px $pink solid; }
      }
    }

    .error__msg {
      display: block;
    }
  }
}

.dropDown {
  &__inputSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 8px 10px 16px;
    gap: 10px;
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #919BA1;
    border-radius: 4px;
    caret-color: white;
  }
  &__input {
    width: 100%;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #E3E6E8;
    cursor: pointer;
  }
  &__inputP {
    padding-left: 40px;
  }
  &__imgInput {
    position: absolute;
    top: 11px;
    left: 11px;
  }
  &__imgCont {
    padding: 8px;
    gap: 10px;
    width: 36px;
    height: 29.33px;
    background: #F1F2F3;
    box-shadow: 0px 0px 0px rgba(37, 182, 191, 0.1);
    border-radius: 4px;
  }
  &__container {
    position: relative;
    width: 100%;
  }
  &__panel {
    z-index: 3;
    width: 100%;
    position: absolute;
    border: 1px solid #E3E6E8;
    transition: transform 0.5s ease-in-out;
  }
  &__options {
    overflow-y: scroll;
    max-height: 250px;
  }
  &__opcion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 8px 10px 16px;
    gap: 10px;
    width: 100%;
    height: 42px;
    background: #FFFFFF;
    &:hover {
      background: #ebfaf3;
    }
  }
}

.global {
  &__hidden {
    display:none !important;
  }
}